<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Richard V.Welsh</p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <!-- <button class="btn btn-success btn-block">New Project
          <i class="mdi mdi-plus"></i>
        </button> -->
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/usuario" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-circle"></i>
        <span class="menu-title">Usuarios</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/departamento" routerLinkActive="active">
        <i class="menu-icon mdi mdi-city"></i>
        <span class="menu-title">Departamentos</span>
      </a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="/puestos" routerLinkActive="active">
        <i class="menu-icon mdi mdi-clipboard-account"></i>
        <span class="menu-title">Puestos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sla" routerLinkActive="active">
        <i class="menu-icon mdi  mdi-clock-fast"></i>
        <span class="menu-title">Sla</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/prioridad" routerLinkActive="active">
        <i class="menu-icon mdi  mdi-checkbox-multiple-marked"></i>
        <span class="menu-title">Prioridad</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/incidente" routerLinkActive="active">
        <i class="menu-icon mdi  mdi-yeast"></i>
        <span class="menu-title">Incidente</span>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/tables" routerLinkActive="active">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Tables</span>
      </a>
    </li>  
    <li class="nav-item">
      <a class="nav-link" routerLink="/icons" routerLinkActive="active">
        <i class="menu-icon mdi mdi-chart-bubble"></i>
        <span class="menu-title">Icons</span>
      </a>
     -->
  </ul>
</nav>
