<div class="main-content">
    <div class="row">
      <div class="col-md-10">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Agregar Puesto</h5>
          </div>
          <div class="card-body">
            <form #pradd="ngForm" autocomplete="off" (submit)=addPr(pradd)>
  
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" type="hidden" class="form-control" placeholder="creadoPor"
                      [(ngModel)]='objEmp.creadoPor' #creadoPor="ngModel" name="creadoPor">
                    <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]='objEmp.nombre'
                      #nombre="ngModel" name="nombre">
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div class="form-group">
                    <label>Estatus</label>
                    <select name="estatus" id="estatus" class="form-control" [(ngModel)]="objEmp.estatus"
                      #estatus="ngModel" name="estatus">
                      <option value="" selected>--Seleccione--</option>
                      <option value="I">Inactivo</option>
                      <option value="A">Activo</option>
                    </select>
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label>Sla Id</label>
                    <input type="number" class="form-control" placeholder="Sla Id"
                      [(ngModel)]="objEmp.slaId" #slaId="ngModel" name="slaId">
                  </div>
                </div>
  
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>Borrado</label>
                    <select name="borrado" id="borrado" class="form-control" [(ngModel)]="objEmp.borrado"
                      #borrado="ngModel" name="borrado">
                      <option value="null" selected>--Seleccione--</option>
                      <option value="false">False</option>
                      <option value="true">True</option>
                    </select>
                  </div>
                </div>
  
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label>Fecha Registro</label>
                    <input type="datetime-local" class="form-control" placeholder="Fecha Registro"
                      [(ngModel)]="objEmp.fechaRegistro" #fechaRegistro="ngModel" name="fechaRegistro">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">Agregar</button> |
                  <button type="button" class="btn btn-danger btn-round" [routerLink]="['/prioridad']">Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>